.sidebar {
  width: 250px;
  background: #8a50a2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-nav ul li.active,
.sidebar-nav ul li:hover {
  background: #7d4294;
}

.sidebar-nav ul li svg {
  margin-right: 10px;
}

.sidebar-footer {
  padding: 20px;
  background: #7d4294;
}

.sidebar-footer ul {
  list-style: none;
  padding: 0;
}

.sidebar-footer ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-footer ul li:hover {
  text-decoration: underline;
}

.sidebar-footer ul li svg {
  margin-right: 10px;
}

.user-info {
    display: flex;
    justify-content: space-evenly;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}
.user-icon{
    height: 90px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
}
